

html{
    font-size: clamp(14px, 2vw, 16px);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;

}

body{
    background-color: #ffe6e6;
    background-image: url(/Cats/background.png);
}

h4{
    margin-top: 12px;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 12px;
    color: #BB00B8;

}

p{
    font-size: clamp(12px, 2vw, 14px);
    margin: 6px;
    color: #BB00B8;

}

#stats-svg{
    width: 20px;
}

.stats-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#layout{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 10px;
    
}

#title{
    font-size: clamp(2rem, 3vw, 3.5rem);
    text-align: center;
    margin-bottom: -10px;
    margin-top: -10px;
    color: #BB00B8;
}


.card-size{
    width: clamp(208px, 40vw, 220px);
    height: 308px;
    background-color: #FFD3ED;
    border: solid 2px #FFA8EC;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(182, 182, 182);
    display: grid;

}


.cat-all-container{
    background: linear-gradient(180deg, #FFF0F0 0%, #FFC4C4 100%);
    border: solid 1px #BB00B8;
    display: grid;
    justify-content: center;
    margin: 10px;
    margin-top: -2px;
    padding: 10px;
    border-radius: 6px;
    align-items: center;
    height: 104px;

}

/*@media (min-width: 1001px) {
    .span-2 {
        grid-column: span 2;
        width: 100%; 
    }
}*/
    
@media (max-width: 1000px) {
    #layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


#cat1{
    width: 116px;
}

#cat2{
    width: 114px;
}


#cat3{
    width: 116px;
    
}

#cat4{
    width: 115px;
}


#cat5{
    width: 115px;
}

#cat6{
    width: 115px;
}

#cat7{
    width: 114px;

}

#cat8{
    width: 115px;
}

#cat9{
    width: 114px;
}

#cat10{
    width: 114px;
}



.paw-svg{
    width: clamp(22px, 4vw, 28px);
    height: 32px;
    margin-left: 10px;
}

.paw-icons-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.paw-icon{
    display: flex;
    align-items: center;
    width: 100%;
    
}

.paw-icon-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
   
}

.number{
    margin-right: 12px;
    font-weight: 480;
    color: #b400b1;
}

